html
  head
    title Welcome
div
  table
    thead
      tr: th Registered User
    tbody
      each user, i in users
        tr(class=(i % 2 == 0) ? 'odd' : 'even') 
          td
            a(href='/admin/user/' + user.id) #{user.name} - #{user.email} - #{user.description} - #{user.price}
